/* List of imports */
@import url('https://fonts.googleapis.com/css?family=Funnel+Display');
@import url('https://fonts.googleapis.com/css?family=Limelight');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


/* Global styles. */
body, html {
    background-image: url('background.jpg');
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
}


/* NavBar component styles. */
.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.navbar-container {
    width: 100%;
    height: 70px;
    background-color: #FFF;
}

.navbar-link {
    color: black;
    display: block;
    padding: 25px 10px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

.navbar-link:hover {
    background-color: #F0F0F0;
}

.navbar-logo {
    font-family: 'Limelight';
    font-size: 1.5em;
    height: 25px;
    margin: 0;
    padding: 22px 30px;
    width: 50px;
}

.navbar-logo:hover {
   cursor: pointer;
}


/* Home element styles. */
.home-bio {
    font-family: 'Funnel Display';
    font-size: 1.5em;
}

.home-title {
    font-family: 'Funnel Display';
    font-size: 3em;
    font-weight: 900;
}